[submodule "frontend-nanodegree-mobile-portfolio"]
	path = frontend-nanodegree-mobile-portfolio
	url = https://github.com/kinant/frontend-nanodegree-mobile-portfolio.git
[submodule "frontend-nanodegree-arcade-game"]
	path = frontend-nanodegree-arcade-game
	url = https://github.com/kinant/frontend-nanodegree-arcade-game
[submodule "frontend-nanodegree-resume"]
	path = frontend-nanodegree-resume
	url = https://github.com/kinant/frontend-nanodegree-resume
